@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Russo+One&family=Sen&display=swap');

/* Class for hide/show rules and game area */

.hidden {
    display: none;
}

/* Style for whole page */

* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
    box-sizing: border-box;
}

body {
    background: rgba(240, 120, 206, 0.867);
}

.rules-area,
.game-area,
.error-message {
    background: rgba(165, 161, 228, 0.867);
    width: 95%;
    max-width: 650px;
    margin: 110px auto 110px;
    border-radius: 15px;
    padding: 25px;
    text-align: center;
}

/* Style for rules area headings, buttons and text */

.rules-area h1 {
    font-size: 30px;
    color: rgba(51, 17, 100, 0.867);
    font-weight: 650;
    padding-bottom: 35px;
    text-align: center;
}

.rules-area h2 {
    font-size: 30px;
    font-style: italic;
    color: rgba(129, 25, 99, 0.867);
    font-weight: 650;
    padding-bottom: 35px;
}

.rules-area button {
    background: rgba(51, 17, 100, 0.867);
    color: white;
    font-weight: 550;
    width: 50%;
    border: 2px solid rgba(13, 1, 30, 0.867);
    padding: 15px;
    margin: 10px 0;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    display: block;
}

.rules-text {
    padding: 25px;
}

.game-area h1 {
    font-size: 30px;
    color: rgba(129, 25, 99, 0.867);
    font-weight: 650;
    border-bottom: 1px solid rgba(129, 25, 99, 0.867);
    padding-bottom: 35px;
}

/* Style for quiz area, headings */

.quiz-area {
    padding: 25px 0;
}

.quiz-area h2 {
    font-size: 20px;
    color: rgba(23, 3, 51, 0.867);
    font-weight: 650;
}

/* Style for buttons */

.info-buttons {
    display: flex;
    justify-content: center;
}

.button {
    background: white;
    color: rgba(13, 1, 30, 0.867);
    font-weight: 550;
    width: 95%;
    border: 2px solid rgba(13, 1, 30, 0.867);
    padding: 15px;
    margin: 10px 0;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover:not([disabled]) {
    background: rgba(51, 17, 100, 0.867);
    color: white;
}

.button:disabled {
    cursor: no-drop;
}

#next {
    background: rgba(51, 17, 100, 0.867);
    color: white;
    font-weight: 550;
    width: 200px;
    border: 0;
    padding: 15px;
    margin: 25px auto 0;
    border-radius: 5px;
    cursor: pointer;
    display: block;
}

/* Style for correct and incorrect answers */

.correct {
    background: green;
}

.incorrect {
    background: red;
}

@media screen and (max-width: 400px) {

    .rules-area,
    .game-area,
    .error-message {
        background: rgba(165, 161, 228, 0.867);
        width: 95%;
        margin: 20px auto 20px;
        border-radius: 15px;
        padding: 25px;
        text-align: center;
    }

    #question,
    #answer-buttons {
        font-size: 15px;
    }
}